beautifulsoup4>=4.6.3
cchardet>=2.1.4
censys==0.0.8
docopt>=0.6.2
google-api-python-client>=1.7.4
jinja2>=2.11.3
matplotlib>=3.0.3
msgpack-python>=0.5.6
networkx>=2.2
pandas>=0.22.0
pysocks>=1.6.7
Scrapy>=1.5.0
tldextract>=2.2.1
urllib3>=1.25
